/* Universal Styles*/
html {
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    font-weight: normal;
    text-align: center;
}

/* Header */
header h1 {
    font-weight: normal;
    font-size: 3.125rem;
    margin: 1.5rem 0;
}

header p, footer p {
    text-decoration: underline;
    color:aquamarine;
}

@media only screen and (max-width: 620px){
    header h1 {
        font-size: 2.5rem;
        line-height: 0.85;
        font-weight: 600;
    }
}

/* Video */
main #vid {
    display: flex;
    justify-content: center;
}

/* Travel Guide */
#travelGuide h2 {
    font-weight: 300;
    font-size: 2.625rem;
    margin: 2rem 0;
}

#travelGuide p {
    font-size: 1.3125rem;
    color: gray;
}

#travelGuide .img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 915px){
    #travelGuide img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 480px){
    #travelGuide h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    #travelGuide p {
        font-size: 1rem;
    }
}

/* Announcements */

#comingSoon p {
    font-size: 2.375rem;
}

@media only screen and (max-width: 480px) {
    #comingSoon img {
        height: 4.5rem;
        width: auto;
    }

    #comingSoon p {
        margin-top: 0.75rem;
        font-size: 1.65rem;
        margin-bottom: 2rem;
        font-weight: 550;
    }
}

/* Footer */
footer .copyright {
    color:gray;
    text-align: right;
    text-decoration: none;
    font-size: 0.85rem;
}

@media only screen and (max-width: 480px) {
    footer p {
        margin: 0.75rem;
    }
}